*.docx
*.Rproj.user
*.Rhistory
*.RData
*.fls
*.log
*.aux
*.fdb_latexmk
*.pdf
*.png
*.rda
*.bbl
*.blg
*.Rapp.history
*.rds
sub-*\.sh
*.xlsx
*.gz
scratch.R
.Rproj.user
supp.md
*.dvi
*.gz(busy)
*.rtf
ids1.R
ids2.R
ids3.R
figure-out*
stat_table.csv
notes.md
mammals.txt
packrat/lib*/
*.tex.latexmain
text/introduction.mindnode/*
heavy-tails.Rproj
text/email-notes.tex
text/potential-referees.md
analysis/analysis.Rproj
analysis/beta-stan-samples-2.txt
analysis/heavy.csv
analysis/brook-etal-2006-supp.xls
*.html
Session.vim
text/diff.tex
scratch/
analysis/gomp-ar1/*
analysis/logistic/*
analysis/logistic-WRONG/*
analysis/gomp-base*

*.xwm

*.out
