*.Rproj.user
*.Rhistory
*.RData
*.fls
*.log
*.aux
*.fdb_latexmk
*.pdf
*.png
*.rda
*.bbl
*.blg
*.Rapp.history
*.rds
sub-*\.sh
*.xlsx
*.gz
scratch.R
.Rproj.user
ms.md
supp.md
*.dvi
*.gz(busy)
*.rtf
ids1.R
ids2.R
ids3.R
figure-out*
mainids.tex
stat-table.tex
stat_table.csv
values.tex
notes.md
mammals.txt
packrat/lib*/
*.tex.latexmain
text/introduction.mindnode/*
heavy-tails.Rproj

text/email-notes.tex

text/potential-referees.md

analysis/analysis.Rproj
